*{
    margin: 0;
}

body {overflow-x:hidden; overflow-y:auto;}

body{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Hack';
}

header{
    position: fixed;
    top:0;
    left:0px;
    margin: 0px;
    height: 130px;
    width: 100%;
    z-index : 1;
  
    background-color: white;
}

#home{
    margin : 0 auto;
    padding: 0;
    position: relative;
    top: 18px;
    left: 40px;

    width: 153px;
    height: 100px; 

}

nav{
    width: 1060px;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    top: 35px;
    left: 340px;

}
nav ul{
    margin: 0;
}
nav ul li{
    padding: 0 45px;

    list-style: none;
    float: left;
    line-height: 60px;
    text-align: center;
    font-size: 21px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    font-weight: bold;
    color: darkblue;
}

.contents{
    margin: 0 auto;
    position: relative;
    width: 100%;

    left: 60px;
}

section {
    background-color: white;
    padding: 0px;
    color: black;

    position: relative;
    top: 130px;
}
footer{
    padding: 60px;
}

.intro {
    margin: auto;
    width: 1300px;
    height: 70px;
    padding: 10px;
    font-family: 'Stylish', sans-serif;
}
.fun1 {
    margin: 40px;
    width: 1000px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, white 50%, rgb(221, 30, 47) 50% );
    border: 5px solid rgb(221, 30, 47);
}
.common {
    display: inline-block;
    float: left;
    width: 650px;
    height: 70px;
}
.content1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:rgb(221, 30, 47)
}
.main1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun2 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, rgb(235, 176, 53) 50%, white 50% );
    border: 5px solid rgb(235, 176, 53);
}
.content2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(235, 176, 53);
}
.main2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun3 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, white 50%, rgb(6, 162, 203) 50% );
    border: 5px solid rgb(6, 162, 203);
}
.content3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(6, 162, 203);
}
.main3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun4 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, rgb(33, 133, 89) 50%, white 50% );
    border: 5px solid rgb(33, 133, 89);
}
.content4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(33, 133, 89);
}
.main4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun5 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, white 50%, rgb(208, 198, 177) 50% );
    border: 5px solid rgb(208, 198, 177);
}
.content5 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(208, 198, 177);
}
.main5 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun6 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, rgb(102, 167, 197) 50%, white 50%);
    border: 5px solid rgb(102, 167, 197);
}
.content6 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(102, 167, 197);
}
.main6 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun7 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, white 50%, rgb(221, 30, 47) 50% );
    border: 5px solid rgb(221, 30, 47);
}
.content7 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:rgb(221, 30, 47)
}
.main7 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun8 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, rgb(235, 176, 53) 50%, white 50% );
    border: 5px solid rgb(235, 176, 53);
}
.content8 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(235, 176, 53);
}
.main8 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun9 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, white 50%, rgb(6, 162, 203) 50% );
    border: 5px solid rgb(6, 162, 203);
}
.content9 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(6, 162, 203);
}
.main9 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun10 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, rgb(33, 133, 89) 50%, white 50% );
    border: 5px solid rgb(33, 133, 89);
}
.content10 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(33, 133, 89);
}
.main10 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun11 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, white 50%, rgb(208, 198, 177) 50% );
    border: 5px solid rgb(208, 198, 177);
}
.content11 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(208, 198, 177);
}
.main11 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}
.fun12 {
    margin: 40px;
    width: 1300px;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background: linear-gradient( 90deg, rgb(102, 167, 197) 50%, white 50%);
    border: 5px solid rgb(102, 167, 197);
}
.content12 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgb(102, 167, 197);
}
.main12 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 3px black, 3px 0 black, 0 -2px black;
    font-weight: bold;
}